<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.study.gupao.mybatis.mapper.CustomOrderMapper">

    <sql id="custom_order_column_list" >
        name,product_code,order_code,is_receive,create_date
    </sql>

    <resultMap id="customOrderMap" type="customOrder">
        <id property="orderCode" column="order_code"/>
        <result property="productCode" column="product_code"/>
        <result property="name" column="name"/>
        <result property="createDate" column="create_date" javaType="java.util.Date" jdbcType="TIME" typeHandler="org.apache.ibatis.type.DateOnlyTypeHandler"/>
        <result property="isReceive" column="is_receive"/>
        <association property="productInfo" column="product_code" select="com.study.gupao.mybatis.mapper.ProductInfoMapper.findByPrimaryKey"/>
    </resultMap>
    <select id="queryAllForList" resultMap="customOrderMap">
        SELECT
            <include refid="custom_order_column_list"/>
        FROM tb_custom_order
    </select>
    <select id="queryAllForListByForeignKey" resultMap="customOrderMap">
        SELECT
        <include refid="custom_order_column_list"/>
        FROM tb_custom_order
        <if test="name != null">
            WHERE name=#{name}
        </if>
    </select>

    <select id="findByPrimaryKey" resultMap="customOrderMap">
        SELECT
            <include refid="custom_order_column_list"/>
        FROM tb_custom_order
        <if test="orderCode != null">
              WHERE  order_code=#{orderCode}
        </if>
    </select>
    <insert id="insert">
        INSERT INTO
            tb_custom_order (
                order_code, product_code,
                name, create_date, is_receive)
        VALUES (#{orderCode},#{productCode},#{name},#{createDate},#{isReceive})
    </insert>

</mapper>
