<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.study.gupao.mybatis.mapper.CustomerMapper">

    <select databaseId="mysql" id="findByPrimaryKey"
            resultType="customer"
            parameterType="string">
        SELECT * FROM customer WHERE username=#{username,jdbcType=VARCHAR}
    </select>
    <insert databaseId="mysql" id="addCustomer" parameterType="customer">
        INSERT INTO customer(username,passwd,age,sex,createdate,birth)
        VALUES
        (
        #{username},
        #{passwd},
        #{age},
        #{sex},
        #{createdate},
        #{birth}
        )
    </insert>

    <update flushCache="true"  databaseId="mysql" id="update" parameterType="customer">
        UPDATE customer SET passwd=#{passwd},age=#{age},sex=#{sex},createdate=#{createdate},birth=#{birth} WHERE username=#{username}
    </update>



</mapper>