<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.study.gupao.mybatis.mapper.NormalCustomMapper">
    <sql id="normal_custom_column_list">
        name,sex,age,birth,id_number,
        is_vip,addr,job,createdate
    </sql>
    <resultMap id="normalCustomMap" type="normalCustom">
        <constructor>
            <idArg column="name" javaType="string" typeHandler="org.apache.ibatis.type.StringTypeHandler"/>
        </constructor>
        <id property="name" column="name"/>
        <result property="isVip" column="is_vip"/>
        <result property="idNum" column="id_number"/>
        <result property="createDate" column="createdate" javaType="java.sql.Timestamp" jdbcType="TIMESTAMP"/>
        <result property="birth" column="birth" javaType="Date" jdbcType="DATE"/>
        <result property="job" column="job"/>
        <result property="addr" column="addr"/>
        <!--column 經測試必須是 { }寫法 -->
        <collection property="orderList" column="{name=name}" ofType="customOrder"
                    select="com.study.dubbo.mybatis.mapper.CustomOrderMapper.queryAllForListByForeignKey"/>
    </resultMap>

    <cache eviction="LRU" readOnly="true"/>
    <select id="queryAllForList" resultMap="normalCustomMap">
        SELECT
        <include refid="normal_custom_column_list"/>
        FROM tb_normal_custom
        <if test="name != null">
            WHERE name=#{name} ;
        </if>
    </select>
    <select id="findByPrimaryKey" resultMap="normalCustomMap">
        SELECT
        <include refid="normal_custom_column_list"/>
        FROM tb_normal_custom
        <if test="name != null">
            WHERE name=#{name} ;
        </if>
    </select>
    <insert id="insert" parameterType="normalCustom">
        INSERT INTO tb_normal_custom(name,age,sex,is_vip,birth,createdate,job,id_number,addr) VALUES
        (#{name},#{age},#{sex},#{isVip},#{birth},#{createDate},#{job},#{idNum},#{addr})
    </insert>
    <update id="update" parameterType="normalCustom" flushCache="true">
        UPDATE tb_normal_custom
        SET
        age=#{age},
        sex=#{sex},
        is_vip=#{isVip},
        birth=#{birth},
        createdate=#{createDate},
        job=#{job},
        id_number=#{idNum},
        addr=#{addr}
        WHERE
        name=#{name};
    </update>
</mapper>