<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.study.gupao.mybatis.mapper.ProductInfoMapper">
    <resultMap id="productInfoMap" type="com.study.dubbo.mybatis.entity.ProductInfo">
        <id property="productCode" column="product_code" />
        <result property="saleType" column="sale_type"/>
        <result property="supplyId" column="supply_id"/>
    </resultMap>
    <select id="findByPrimaryKey" resultMap="productInfoMap">
        SELECT * FROM tb_product_info WHERE product_code=#{productCode};
    </select>

    <insert id="insert">
        INSERT INTO tb_product_info (product_code, description, sale_type, supply_id)
        VALUES (#{productCode},#{description},#{saleType},#{supplyId})
    </insert>


</mapper>